* {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #e1f0ea;
  --primary-background-color: #090b10;
  --secondary-text-color: #090b10;
  --secondary-background-color: #e1f0ea;
  --highlight-color: #fb9f89;
  --link-color: #1dbb54;
  --background-highlight-color: rgba(0, 0, 0, 0.176);
  --transition-speed: 600ms;
}

::selection {
  color: var(--highlight-color);
  background: var(--background-highlight-color);
}

body {
  background-color: var(--secondary-background-color);
  text-align: center;
  transition: background calc(var(--transition-speed) - 100ms) ease-in-out,
    color calc(var(--transition-speed) + 400ms) ease-in-out !important;
}

.dark {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.light {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}

.App-link {
  color: var(--link-color);
  text-decoration: none;
  --webkit-transition: all calc(var(--transition-speed) - 300ms) linear;
}

.App-link:hover {
  border-bottom: #fb9f89 2px solid;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: calc(5px + 2vmin);
  }

  .playlist {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;
  }
}
