:root {
  --primary-text-color: #e1f0ea;
  --secondary-text-color: #000;
  --primary-background-color: #1e1e24;
  --secondary-background-color: #fff;
  --highlight-color: #fb9f89;
  --link-color: #09d3ac;
  --background-highlight-color: rgba(0, 0, 0, 0.176);
}

::selection {
  color: var(--highlight-color);
  background: var(--background-highlight-color);
}

body {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: var(--link-color);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .playlist {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;
  }
}
